<?php

// DB Params/Параметры БД
const DB_HOST = 'db_host_here';
const DB_USER = 'db_user_here';
const DB_PASS = 'db_password_here';
const DB_NAME = 'db_name_here';


// App Root/Корень приложения
define('APPROOT', dirname(dirname(__FILE__)));


// URL Root/Корень URL
const URLROOT = '';    // add "/url" if the url root has to be like "google.com/url"
                       // добавьте "/url", еслиь корень url должен быть в виде "google.com/url"

// Site Name/Название сайта
const SITENAME = 'site_name_here';
